* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  position: relative;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.header-icons {
  display: flex;
  gap: 16px;
  font-size: 18px;
}

.nav-bar {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 12px 0;
}

.nav-bar a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

.mobile-menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.footer {
  background: #000;
  color: #fff;
  padding: 2rem;
  font-family: sans-serif;
  font-size: 14px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.newsletter h4,
.contact h4,
.currency h4 {
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
  font-size: 16px;
}
.currency {
  margin-bottom: 1.5rem;
}

.newsletter-input {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.newsletter-input input {
  padding: 0.5rem;
  flex: 1;
  width: 384px;
}

.newsletter-input button {
  background: #111;
  color: rgb(85, 81, 81);
  padding: 0.5rem 1rem;
  border: 1px solid rgb(85, 81, 81);
  cursor: pointer;
  border-radius: 5px;
  width: 184px;
  height: 48px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.footer-section h4 {
  font-size: 16px;
  margin-bottom: 1rem;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin-bottom: 0.5rem;
}

.social-icons span {
  font-size: 20px;
  margin-right: 1rem;
}

.payments img {
  width: 40px;
  margin-right: 10px;
  margin-top: 10px;
}

.payment-label {
  margin-top: 1rem;
}

.copyright {
  margin-top: 2rem;
  text-align: center;
  font-size: 12px;
  border-top: 1px solid #333;
  padding-top: 1rem;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-top,
  .footer-links {
    flex-direction: column;
  }

  .footer-section ul {
    display: none;
  }

  .footer-section h4::after {
    content: " ▼";
    float: right;
  }

  .footer-section h4 {
    cursor: pointer;
  }

  .footer-section.open ul {
    display: block;
  }
}

/* Responsive */
@media (max-width: 768px) {
  .mobile-menu-icon {
    display: block;
  }

  .header-icons {
    gap: 12px;
    font-size: 16px;
  }

  .nav-bar {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    border-top: none;
  }

  .nav-bar.show {
    display: flex;
  }
}
